.logo-color{
    color: #FFE1C6;
}

.text-color{
    color: #D9BF98;
}

.switch-color{
    color: #61E5CE;
}

.main-background{
    background-color: #201A16;
}

.secondary-background{
    background-color: #534131;
}

.main-line{
    border-color: #FFD9B6;
}