.main-background{
    background-color: #0f0e17;
}

.secondary-background{
    background-color: #f25f4c;
}

.main-line{
    border-color: #FFD9B6;
}

.textbox-fill{
    background-color: #D9D9D9;
}

.text-color{
    color: black;
}

.go-color{
    color: #E7FFB5;
}