.main-background{
    background-color: #201A16;
}

.secondary-background{
    background-color: #534131;
}

.main-line{
    border-color: #FFD9B6;
}

.textbox-fill{
    background-color: #D9D9D9;
}

.text-color{
    color: #D9BF98;
}

.go-color{
    color: #E7FFB5;
}